@import url('https://fonts.googleapis.com/css2?family=Alata&family=Crimson+Text&family=Josefin+Sans&family=Montserrat:wght@300;600&display=swap');

.experience-container{
    display: flex;
    background: url(https://img.freepik.com/free-vector/white-background-with-blue-tech-hexagon_1017-19366.jpg?w=740&t=st=1674494296~exp=1674494896~hmac=f2ab4529f3d7e41639a21b21539b6739a040264160eb68e83968aaa5e7516e3f);
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid red; */
    height: 100vh;
    padding-top:95px ;
    /* padding-top: 100px; */
}
.experience-container >h1{
    font-family: "alata",sans-serif;
    color: blue;
    /* text-decoration: underline; */
    margin: 0px 0 30px 0;
    font-size: 26px;
}
.experience{
    display: flex;
    width: 90vw;
    height: 370px;
    justify-content: center;
    /* align-items: center; */
    /* margin: 50px 0px; */
    /* border: 1px solid red; */
    /* overflow: scroll; */
}
@media screen and (max-width:700px) {
    .experience-container{
        /* border: 1px solid red; */
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .experience{
        flex-direction: column-reverse;
        gap: 30px;
        height: 100%;
        margin-bottom: 10px;
    }
}