@import url('https://fonts.googleapis.com/css2?family=Alata&family=Crimson+Text&family=Josefin+Sans&family=Montserrat:wght@300;600&display=swap');

.jobbox-container{
    display: flex;
    flex-direction:column;
    font-family: "alata",sans-serif;
    /* border: 1px solid blue; */
    margin: 0px 20px;
    padding: 20px 20px 40px 20px;
    max-width: 500px;
    height: 100%;
    border-radius: 10px;
    color: rgb(44, 44, 44);
    overflow-y: scroll;
    scrollbar-width: none;
    background-color: rgba(255, 255, 255, 0.692);
    /* background-color: rgba(255, 255, 255, 0.664); */
    box-shadow: rgba(0, 0, 0, 0.774) 0px 5px 15px;
}
::-webkit-scrollbar {
    width: 7px;
    height: 5px;
    }
::-webkit-scrollbar-thumb {
        background: #15138f;  
        border-radius: 15px;
        }
        
::-webkit-scrollbar-thumb:hover {
        background: #a705c7;  
        }

.job-tittle{
    color: rgb(108, 3, 206);
    /* text-decoration: underline; */
    padding-bottom: 5px;
}
.job-pl-du{
    display: flex;
    padding-bottom: 7px;

}
.job-detail{
    font-size: 19px;
    margin-bottom: 5px;
}
@media screen and (max-width:700px) {
    .jobbox-container{
        width: 90%;
        padding: 15px;
        margin: 0px;
        height: 100%;
    }
    .job-tittle{
        font-size: 20px;
    }
    .job-duration{
        font-size: 16px;
    }
    .job-pl-du{
        font-size: 16px;
    }
    .job-detail{
        font-size: 18px;
    }
}