@import url('https://fonts.googleapis.com/css2?family=Alata&family=Crimson+Text&family=Josefin+Sans&family=Montserrat:wght@300;600&display=swap');
.about-container{
    background: url(https://img.freepik.com/free-photo/white-painted-wall-texture-background_53876-138197.jpg?w=740&t=st=1674240899~exp=1674241499~hmac=49ed09614945c24432d7958963696d85d22f73ad508a0a808e26a804d04e7326);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}
.about-sub{
    /* margin: 0px 40px 10px 40px;s */
    padding-top: 100px;
    padding-bottom: 50px;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about-sub>h1{
    font-family: "alata",sans-serif;
    color: blue;
    /* text-decoration: underline; */
    font-size: 26px;
}
.about-sub>p{
    font-family: "alata",sans-serif;
    font-size: 22px;
    margin: 15px 0px;
    width: 90%;
    line-height: 35px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.63);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px 20px;
}
.about-sub>p>span{
    color: blueviolet;
}
.about-handimg{
    height: 20px;
    width: 20px;
}
.about-sub>p>h1{
    font-family: "alata",sans-serif;
    color: blue;
    /* text-decoration: underline; */
    font-size: 23px;
}
.about-course{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 800px; */
    /* border: 1px solid red ; */
    padding: 10px 20px;
}
.mern{
    color: red;
}
.guvi{
    color:green;
    font-weight: bold;
}
@media screen and (max-width:700px) {
   .about-sub{
    width: 95%;
   } 
   .about-sub>h1{
    font-size: 22px;
   }
   .about-sub>p{
    font-size: 18px;
    line-height: 23px;
    margin: 8px 0 8px 0;
    padding-bottom: 15px;
   }
   .about-handimg{
    margin-top: 5px;
   }
   .about-sub>p>h1{
    font-size: 21px;
    margin-bottom: 3px;
   }
}